@import 'keep-react/css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Exo2";
    src:local("Exo2VariableFontWght"),
    url('./assets/fonts/Exo2-VariableFont_wght.ttf') 
}

html {
    font-family: Exo2, system-ui, sans-serif;
}